<div class="col-xs-12 button m-t-15 p-b-25">
    <div class="col-xs-12 m-b-15">
        <div>
            <h4 class="bold"><i class="fa fa-modx"></i> Alert</h4>
            <span>Examples contains with alert modals which includes Bootstrap-alert, toastr-alert and ngSweet-alert</span>
        </div>
    </div>
    
    <div class="col-xs-12">
        <div class="col-xs-12 m-b-15 no-padding">
            <h5 class="bold">Toastr Alerts(angular plugin)</h5>
        </div>
		<div class="col-xs-12 well">
        <div class="col-xs-12 m-b-15 no-padding">
            <button ng-click="successToast()" class="btn btn-default m-r-50">Click Me</button>
            <span>Will alert you with the default style of Toastr <code>Success</code> color code</span>
        </div>
        <div class="col-xs-12 m-b-15 no-padding">
            <button ng-click="warningToast()" class="btn btn-default m-r-50">Click Me</button>
            <span>Will alert you with the default style of Toastr <code>Warning</code> color code</span>
        </div>
        <div class="col-xs-12 m-b-15 no-padding">
            <button ng-click="infoToast()" class="btn btn-default m-r-50">Click Me</button>
            <span>Will alert you with the default style of Toastr <code>Information</code> color code</span>
        </div>
        <div class="col-xs-12 no-padding">
            <button ng-click="errorToast()" class="btn btn-default m-r-50">Click Me</button>
            <span>Will alert you with the default style of Toastr <code>Error</code> color code</span>
        </div>
		</div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12 m-b-15 no-padding">
            <h5 class="bold">Sweet Alerts(angular plugin)</h5>
        </div>
		<div class="col-xs-12 well">
        <div class="col-xs-12 m-b-15 no-padding">
            <button ng-click="simple1Sweet()" class="btn btn-default m-r-50">Click Me</button>
            <span>Will alert you with the default style of SweetAlert's simple alert.</span>
        </div>
        <div class="col-xs-12 m-b-15 no-padding">
            <button ng-click="simple2Sweet()" class="btn btn-default m-r-50">Click Me</button>
            <span>Will alert you with the default style of SweetAlert's simple alert with given data.</span>
        </div>
        <div class="col-xs-12 m-b-15 no-padding">
            <button ng-click="successSweet()" class="btn btn-default m-r-50">Click Me</button>
            <span>Will alert you with the default style of SweetAlert's alert with given Icon.</span>
        </div>
        <div class="col-xs-12 m-b-15 no-padding">
            <button ng-click="warningSweet()" class="btn btn-default m-r-50">Click Me</button>
            <span>Will alert you with the default style of SweetAlert's alert with confirmation to proceed further or not.</span>
        </div>
        <div class="col-xs-12 no-padding">
            <button ng-click="warningCloseSweet()" class="btn btn-default m-r-50">Click Me</button>
            <span>Will alert you with the default style of SweetAlert's alert with confirmation to proceed further or not with camcel the alert option.</span>
        </div>
		</div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12 m-b-15 no-padding">
            <h5 class="bold">Bootstrap Alerts</h5>
        </div>
	
	<div class="col-xs-12 well">
        <div class="col-xs-12 m-b-15 no-padding">
            <div class="epicAlert alert alert-success alert-dismissible fade in" role="alert" ng-show="showSuccess">
                <button type="button" ng-click="showSuccess=false" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            </div>
            <button ng-click="showSuccess=true" class="btn btn-default m-r-50">Click Me</button>
            <span>Will alert you with the default style of Bootstrap <code>Success</code> color code</span>
        </div>
        <div class="col-xs-12 m-b-15 no-padding">
            <div class="epicAlert alert alert-info alert-dismissible fade in" role="alert" ng-show="showInfo">
                <button type="button" ng-click="showInfo=false" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            </div>
            <button ng-click="showInfo=true" class="btn btn-default m-r-50">Click Me</button>
            <span>Will alert you with the default style of Bootstrap <code>Information</code> color code</span>
        </div>
        <div class="col-xs-12 m-b-15 no-padding">
            <div class="epicAlert alert alert-danger alert-dismissible fade in" role="alert" ng-show="showDanger">
                <button type="button" ng-click="showDanger=false" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            </div>
            <button ng-click="showDanger=true" class="btn btn-default m-r-50">Click Me</button>
            <span>Will alert you with the default style of Bootstrap <code>Danger</code> color code</span>
        </div>
        <div class="col-xs-12 no-padding">
            <div class="epicAlert alert alert-warning alert-dismissible fade in" role="alert" ng-show="showWarning">
                <button type="button" ng-click="showWarning=false" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            </div>
            <button ng-click="showWarning=true" class="btn btn-default m-r-50">Click Me</button>
            <span>Will alert you with the default style of Bootstrap <code>Warning</code> color code</span>
        </div>
	</div>
	</div>
	<div class="col-xs-12 center m-b-20">
			<div class="socialIcons overflow-no">
				<ul class="social-network social-circle">
					<li><a href="" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
					<li><a href="" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a href="" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>
    </div>
	
	
	    
		<div class="col-xs-12 no-padding pageFooter">
			<div class="col-xs-12 no-padding m-b-10">
				<div class="col-sm-12 no-padding">
					<div class="col-sm-offset-1 col-sm-2">
						<ul class="unstyled">
							<li class="bold">GitHub<li>
							<li><a href="">About us</a></li>
							<li><a href="">Blog</a></li>
							<li><a href="">Contact & support</a></li>
							<li><a href="">Enterprise</a></li>
							<li><a href="">Site status</a></li>
						</ul>
					</div>
					<div class="col-sm-2">
						<ul class="unstyled">
							<li class="bold">Applications<li>
							<li><a href="">Product for Mac</a></li>
							<li><a href="">Product for Windows</a></li>
							<li><a href="">Product for Eclipse</a></li>
							<li><a href="">Product mobile apps</a></li>							
						</ul>
					</div>
					<div class="col-sm-2">
						<ul class="unstyled">
							<li class="bold">Services<li>
							<li><a href="">Web analytics</a></li>
							<li><a href="">Presentations</a></li>
							<li><a href="">Code snippets</a></li>
							<li><a href="">Job board</a></li>							
						</ul>
					</div>
					<div class="col-sm-2">
						<ul class="unstyled">
							<li class="bold">Documentation<li>
							<li><a href="">Product Help</a></li>
							<li><a href="">Developer API</a></li>
							<li><a href="">Product Markdown</a></li>
							<li><a href="">Product Pages</a></li>							
						</ul>
					</div>	
					<div class="col-sm-2">
						<ul class="unstyled">
							<li class="bold">More<li>
							<li><a href="">Training</a></li>
							<li><a href="">Students & teachers</a></li>
							<li><a href="">The Shop</a></li>
							<li><a href="">Plans & pricing</a></li>
							<li><a href="">Contact us</a></li>
						</ul>
					</div>					
				</div>
			</div>
			<hr>
			<div class="col-xs-12 no-padding company">
				<div class="col-sm-12 no-padding">
					<div class="col-sm-8">
						<a href="">Terms of Service</a> |    
						<a href="">Privacy</a> |
						<a href="">Security</a>
					</div>
					<div class="col-sm-4">
						<p class="muted pull-right">© 2016 Company Name. All rights reserved</p>
					</div>
				</div>
			</div>
		</div>
</div>